html{
    font-size: 100%;
    font-family: 'Montserrat', sans-serif;
}

header{
    background-color: #2C3E50;
}

.hamburger-menu{
    position: relative;
    padding: 1.3em 1.5em;
    height: 50%;
    border: 2px solid white;
    border-radius: 10px;
    display: flex;
    align-self: center;
    display: none;
}

.hamburger-menu i{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 1.5em;
}

.menu{
    display: flex;
    justify-content: flex-end;
}

.logo, .top-menu {
    align-self: center;
}

.logo h1{
    text-transform: uppercase;
    color: white;
    font-weight: 700;
    font-size: 1.3em;
    margin: 1em 0;
}

.top-menu{
    list-style: none;
    display: flex;
    margin: 1em 0;
}

.top-menu li{
    margin: 0 0.3em;
}

.top-menu a{
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    font-weight: 600;
    font-size: 1em;
}

.jumbotron{
    background-color: #1ABC9C;
}

.jumbo-container{
    padding: 3em;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.avatar {
    width: 30%;
}

.jumbo-container h1{
    text-transform: uppercase;
    color: white;
    font-size: 2.5em;
    margin: 0.5em 0;
}

.jumbo-container h2{
    text-transform: uppercase;
    color: white;
    font-weight: normal;
    font-size: 1.5em;
    margin: 0.5em 0;
}

.decoration{
    width: 100%;
    margin: 1em 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.div-riga{
    display: inline-block;
    width: 25%;
    height: 5px;
    background-color: white;
    border-radius: 2px;
    margin: 0 0.3em;
}

.star i{
    color: white;
    font-size: 1.5em;
}

.portfolio {
    padding: 3em;
    text-align: center;
}

.portfolio h1{
    text-transform: uppercase;
    font-size: 2.5em;
    margin: 0.5em 0;
}

.portfolio .star i{
    color: black;
}

.bg-black{
    background-color: black;
}

.portfolio-img img{
    max-width: 100%;
    border-radius: 10px;
}

.about{
    padding: 3em;
    background-color: cornsilk;
}

.about h1, .about h2{
    text-align: center;
}

.padding{
    padding: 3em;
}

.about button{
    display: block;
    margin: 0 auto;
}

.contact{
    padding: 3em;
}

.contact h1,h2{
    text-align: center;
}

footer{
    padding: 3em;
    background-color: lightslategray;
    color: white;
}

.footer-bottom{
    background-color: darkslateblue;
    height: 50px;
    color: white;
    text-align: center;
}




@media screen and (max-width: 768px) {
    .hamburger-menu{
        display: flex;
    }

    .top-menu{
        display: none;
    }
}